{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}

{% block content %}

<h1>List of Posts</h1>

{% for post in post_list %}

<div class="card" style="margin: 2rem;">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.subtitle }}</h6>
        <p class="card-text">{{ post.body|truncatechars:256 }}</p>
        <a href="{% url 'post_detail' post.id %}" class="card-link">Read more...</a>
    </div>
</div>

{% endfor %}

{% endblock content %}